header {
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

header>div:first-of-type span {
  font-size: 18px;
}

header>div:nth-of-type(2) i {
  color: red;
  font-size: 16px;
}

header>div:nth-of-type(2) span {
  font-size: 15px;
  color: rgb(126, 124, 124);
  font-weight: 200;
}

.one {
  height: 40px;
  background-color: #fff8f0;
  font-size: 10px;
  text-align: center;
  line-height: 40px;
  color: rgb(126, 124, 124);
}
article{
  margin-bottom:10px ;
}

article>img {
  width: 100%;
  height: 500px;
  position: relative;
}

.box {
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 40px repeat(3, 50px) 30px repeat(2,50px);
  position: absolute;
  top: 180px;
  right: 200px;
  background-color: white;
  justify-items: center;
  align-items: center;
}

.box>div:first-of-type {
  height: 40px;
  width: 300px;
  background-color: #fff8f0;
  font-size: 10px;
  text-align: center;
  line-height: 40px;
  color: rgb(126, 124, 124);
}

.box>div:nth-of-type(2) {
  border-bottom: solid 1px #ccc;
  width: 300px;
  height: 50px;
  line-height: 50px;
}

.box>div:nth-of-type(2) span {
  font-size: 18px;
  margin-left: 30px;
  margin-right: 15px;
  color: rgb(126, 124, 124);
}

.box>div:nth-of-type(2) span:last-of-type {
  color: red;
}
.box>div:nth-of-type(3){
  display: flex;
  justify-content: center;
  align-items: center;
}
.box>div:nth-of-type(3) i {
  font-size: 23px;
  background-color: rgb(231, 228, 228);
  width: 30px;
  height: 32px;
  border: solid 1px #ccc;
  color: #ccc;
  text-align: center;
  line-height: 25px;
}

.box>div:nth-of-type(3) input {
  height: 28px;
  width: 230px;
}
.box>div:nth-of-type(4){
  display: flex;
  justify-content: center;
  align-items: center;
}

.box>div:nth-of-type(4) i {
  font-size: 23px;
  background-color: rgb(231, 228, 228);
  width: 30px;
  height: 32px;
  border: solid 1px #ccc;
  color: #ccc;
  text-align: center;
  line-height: 25px;
}

.box>div:nth-of-type(4) input {
  height: 28px;
  width: 230px;
}

.box>span {
  display: block;
  margin-left: 180px;
  margin-top: 20px;
  font-size: 13px;
}
.box>input{
  width:280px;
  height:33px;
  background-color: #e4393c;
  font-size: 20px;
  color: white;
  border: 0;
}
.box>div:nth-of-type(5){
  display: flex;
  justify-content: space-around;
  width: 300px;
  border-top: solid 1px #CCC;
  line-height: 40px;
}
.box>div:nth-of-type(5)>div:first-of-type i:first-of-type{
  color:#1dabfe;
}
.box>div:nth-of-type(5)>div:first-of-type i:last-of-type{
  color: #1dcf1d;
}
.box>div:nth-of-type(5)>div:last-of-type i:first-of-type{
  color:red;
}
.box>div:nth-of-type(5) span{
  color:rgb(126, 124, 124);
}
.box>div:nth-of-type(5)>div:last-of-type a:last-of-type{
  color:red;
  text-decoration: none;
}
footer {
  width: 1000px;
  margin: auto;
  text-align: center;
  font-size: 13px;
}